:root {
  /* colors */

  --clr-primary-100: hsla(55, 37%, 93%, 1);
  --clr-primary-500: hsla(170, 93%, 17%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(39, 42%, 84%, 1);

  --clr-neutral-700: hsla(127, 10%, 15%, 1);
  --clr-neutral-900: hsla(127, 24%, 7%, 1);

  /* fonts */
  --ff-header: "Poppins";
  --ff-body: "Roboto";
  --ff-alt: "Work Sans";

  /* font weights */
  --fw-light: 200;
  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 500;

  /* font sizes */
  --fs-300: 1.125rem;
  --fs-400: 1.375rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 2.75rem;
  --fs-1000: 4rem;

  --fs-body: var(--fs-400);
  --fs-small-body: var(--fs-300);
  --fs-button: var(--fs-400);
  --fs-primary-heading: var(--fs-1000);
  --fs-secondary-heading: var(--fs-900);
  --fs-cards-heading: var(--fs-750);
  --fs-nav: var(--fs-300);
}

/* =======================UTILITY CLASSES====================== */

/* ===============COLORS=================== */

/* text colors */
.text-primary-100 {
  color: var(--clr-primary-100);
}
.text-primary-500 {
  color: var(--clr-primary-500);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-700 {
  color: var(--clr-neutral-700);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

/* background color */
.bg-primary-100 {
  background-color: var(--clr-primary-100);
}
.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-primary-500 {
  background-color: var(--clr-primary-500);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}
.bg-nenutral-900 {
  background-color: var(--clr-neutral-900);
}

/* ================ALL THINGS TEXT=============== */

/* Fonts */

.ff-header {
  font-family: var(--ff-header);
}
.ff-body {
  font-family: var(--ff-body);
}
.ff-alt {
  font-family: var(--ff-alt);
}

/* Font Weights */
.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

/* font sizes */

.fs-100 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-400);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-1000 {
  font-size: var(--fs-1000);
}

/* Line Height */
.lh-160 {
  line-height: 160%;
}

/* =================PAGE LAYOUT================= */
/*Buttons*/

.btn-large{
  padding: 20px 30px;
  border-radius: 100px;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn-light-blue{
  background: #3D8ACA;
  color: white;
}

.btn-white{
  background: white;
  color: #279FA1;
}


/* containers */

.display-none {
  display: none !important;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
}
.container-med {
  height: 100%;
  width: 100%;
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}
.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Padding */

.padding-vertical-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.padding-vertical-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.padding-vertical-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.padding-vertical-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.padding-vertical-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.padding-vertical-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.padding-vertical-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.padding-vertical-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.padding-vertical-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.padding-vertical-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* Margin */

.margin-top-a {
  margin-top: auto;
}

/* Text-Alignment */

.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

/* FlexBox */

.fb-flex {
  display: flex;
}

.fb-1{
  flex: 1;
}
.fb-2{
  flex: 2;
}
.fb-3{
  flex: 3;
}
.fb-4{
  flex: 4;
}

.fb-row {
  flex-direction: row;
}

.fb-column {
  flex-direction: column;
}

.fb-gap-1 {
  gap: 1rem;
}
.fb-gap-2 {
  gap: 2rem;
}
.fb-gap-3 {
  gap: 3rem;
}

.fb-jc-spaceBetween {
  justify-content: space-between;
}

.fb-jc-center {
  justify-content: center;
}
.fb-jc-spaceAround {
  justify-content: space-around;
}

.fb-ai-center {
  align-items: center;
}

/* Container height */
.h-100vh {
}

/* Padding */

/* hover */

.hover {
  transition: all 0.3s ease-in-out;
}

.hover:hover {
  scale: 1.1;
}
