.home-features{
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .first-section{
    min-height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

  }
  .second-section{
    min-height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;

  }

  .img-placeholder-1{
    border-radius: 18px;
    min-height: 300px;
    flex: 7;
    background-image: url('../../../assets/images/peopleHanging.jpg');
    background-size: cover;       /* Makes the image cover the container */
    background-position: center;  /* Centers the image */
    background-color: rgba(23, 37, 62, .1); /* Black with 50% opacity */
    background-blend-mode: overlay; /**/
    background-repeat: no-repeat; /* Prevents tiling */
  }
  .img-placeholder-2{
    border-radius: 18px;
    min-height: 300px;
    flex: 7;
    background-image: url('../../../assets/images/speaking.jpg');
    background-size: cover;       /* Makes the image cover the container */
    background-position: center;  /* Centers the image */
    background-color: rgba(23, 37, 62, .1); /* Black with 50% opacity */
    background-blend-mode: overlay; /**/
    background-repeat: no-repeat; /* Prevents tiling */
  }
  .feature-card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #279FA1;
    border-radius: 18px;
    flex: 7;
    justify-content: center;
    h3{
      font-family: "Poppins", sans-serif;
      font-size: clamp(28px, 6vw, 40px);
      font-weight: bold;
      color: white;
    }
    p{
      padding: 30px 0;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: normal;
      color: white;
    }
  }
  
  @media (min-width: 800px) {


    .feature-card{
      padding: 50px;
      h3{
        font-size: 80px;
      }
    }
  }

  @media (min-width: 1200px) {
    .first-section, .second-section{
      flex-direction: row;
    }
  }
}