.home-hero {
  min-height: 100vh;
  background-image: url('../../../assets/images/homeBanner.jpeg');
  background-size: cover;       /* Makes the image cover the container */
  background-position: center;  /* Centers the image */
  background-color: rgba(23, 37, 62, 1); /* Black with 50% opacity */
  background-blend-mode: overlay; /**/
  background-repeat: no-repeat; /* Prevents tiling */
  h1 {
    font-family: "Poppins", sans-serif;
    width: 90%;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(28px, 7vw, 100px);
    color: white;
  }

  @media (min-width: 768px) {
    h1{
      width: 60%;
    }
  }
}
